sensor-msgs==1.13.1
rqt_py_console==0.4.10
rqt-image-view==0.4.17
genpy==0.6.15
gennodejs==2.0.2
gencpp==0.7.0
rqt_topic==0.4.13
rostopic==1.16.0
rqt_bag==0.5.1
controller-manager==0.20.0
tf2-py==0.7.7
qt-gui-py-common==0.4.2
rqt_plot==0.4.13
joint-state-publisher==1.15.1
rosmake==1.15.8
xacro==1.14.18
tf2-kdl==0.7.7
rqt_srv==0.4.9
rqt_graph==0.4.14
rosnode==1.16.0
rqt-robot-monitor==0.5.15
rqt-tf-tree==0.6.4
rqt_top==0.4.10
tf==1.13.2
tf-conversions==1.13.2
dynamic-reconfigure==1.7.3
roslib==1.15.8
diagnostic-updater==1.11.0
rostest==1.16.0
rqt_nav_view==0.5.7
smach-ros==2.5.2
rqt-moveit==0.5.11
image-geometry==1.16.2
rqt_gui==0.5.3
rqt-runtime-monitor==0.5.10
diagnostic-common-diagnostics==1.11.0
message-filters==1.16.0
rqt_launch==0.4.9
rqt_shell==0.4.11
catkin==0.8.10
rqt_msg==0.4.10
rqt-logger-level==0.4.12
qt-gui-cpp==0.4.2
actionlib==1.14.0
qt-dotgraph==0.4.2
tf2-geometry-msgs==0.7.7
rqt-rviz==0.7.0
genmsg==0.6.0
gazebo_ros==2.9.2
rqt_gui_py==0.5.3
rqt_dep==0.4.12
rospy==1.16.0
cv-bridge==1.16.2
controller-manager-msgs==0.20.0
resource_retriever==1.12.7
rosunit==1.15.8
tf2-ros==0.7.7
rqt_pose_view==0.5.11
rqt-reconfigure==0.5.5
roscreate==1.15.8
rqt_action==0.4.9
roswtf==1.16.0
laser_geometry==1.6.7
rqt_py_common==0.5.3
gazebo_plugins==2.9.2
camera-calibration==1.17.0
joint-state-publisher-gui==1.15.1
rqt-console==0.4.12
interactive-markers==1.12.0
rqt_web==0.4.10
rosbag==1.16.0
roslaunch==1.16.0
bondpy==1.8.6
diagnostic-analysis==1.11.0
rviz==1.14.23
rosservice==1.16.0
rqt_service_caller==0.4.10
camera-calibration-parsers==1.12.0
rqt_robot_steering==0.5.12
rqt_bag_plugins==0.5.1
rqt-robot-dashboard==0.5.8
python-qt-binding==0.4.4
rosmsg==1.16.0
geneus==3.0.0
genlisp==0.4.18
rqt_publisher==0.4.10
topic-tools==1.16.0
qt-gui==0.4.2
jsonpointer==3.0.0
decorator==4.4.2
python-fcl==0.7.0.6
fonttools==4.53.0
widgetsnbextension==4.0.11
notebook_shim==0.2.4
matplotlib-inline==0.1.7
gym==0.26.2
tqdm==4.66.4
mkl-fft==1.3.8
Werkzeug==3.0.3
beautifulsoup4==4.12.3
torchvision==0.17.0
exceptiongroup==1.2.1
webcolors==24.6.0
jupyter_server==2.14.2
bleach==6.1.0
itsdangerous==2.2.0
parso==0.8.4
torchaudio==2.2.0
gmpy2==2.1.2
pip==24.0
docker-pycreds==0.4.0
scipy==1.14.0
torch==2.2.0
evdev==1.7.1
Cython==3.0.10
ConfigArgParse==1.7
cloudpickle==3.0.0
webencodings==0.5.1
Markdown==3.6
pyglet==2.0.15
tzdata==2024.1
dash==2.17.1
urllib3==2.2.2
grpcio==1.62.2
anyio==4.4.0
wcwidth==0.2.13
keyboard==0.13.5
freetype-py==2.4.0
attrs==23.2.0
zipp==3.19.2
click==8.1.7
pure-eval==0.2.2
dash-core-components==2.0.0
nbformat==5.10.4
plotly==5.22.0
asttokens==2.4.1
jupyter_client==8.6.2
imageio==2.34.2
h11==0.14.0
matplotlib==3.9.0
cffi==1.16.0
Send2Trash==1.8.3
importlib_metadata==8.0.0
importlib_metadata==7.2.1
certifi==2024.6.2
sniffio==1.3.1
fsspec==2024.6.0
isoduration==20.11.0
python-xlib==0.33
httpcore==1.0.5
argon2-cffi==23.1.0
setproctitle==1.3.3
gym-notices==0.0.8
notebook==7.2.1
arrow==1.3.0
jsonschema-specifications==2023.12.1
prometheus_client==0.20.0
trimesh==4.4.1
ipython==8.25.0
open3d==0.18.0
absl-py==2.1.0
imageio-ffmpeg==0.5.1
setuptools==69.5.1
Flask==3.0.3
pandocfilters==1.5.1
Jinja2==3.1.4
jupyter_core==5.7.2
websocket-client==1.8.0
six==1.16.0
defusedxml==0.7.1
pytz==2024.1
filelock==3.13.1
soupsieve==2.5
pyzmq==26.0.3
gitdb==4.0.11
pandas==2.2.2
scikit-learn==1.5.0
PySocks==1.7.1
referencing==0.35.1
uri-template==1.3.0
traitlets==5.14.3
idna==3.7
mpmath==1.3.0
mistune==3.0.2
wheel==0.43.0
threadpoolctl==3.5.0
comm==0.2.2
PyOpenGL==3.1.0
blinker==1.8.2
Pygments==2.18.0
psutil==6.0.0
MarkupSafe==2.1.3
dash-table==5.0.0
argon2-cffi-bindings==21.2.0
kiwisolver==1.4.5
networkx==3.2.1
ipywidgets==8.1.3
platformdirs==4.2.2
tenacity==8.4.2
pynput==1.7.7
httpx==0.27.0
pyrender==0.1.45
tensorboard-data-server==0.7.0
packaging==24.1
ptyprocess==0.7.0
tensorboard==2.17.0
Brotli==1.0.9
tornado==6.4.1
GitPython==3.1.43
jupyterlab==4.2.3
Babel==2.15.0
pillow==10.3.0
overrides==7.7.0
rfc3339-validator==0.1.4
PyYAML==6.0.1
jedi==0.19.1
sympy==1.12
python-json-logger==2.0.7
mkl-service==2.4.0
numpy==1.26.4
triton==2.2.0
jsonschema==4.22.0
fqdn==1.5.1
wandb==0.17.4
jupyterlab_widgets==3.0.11
jupyter-events==0.10.0
nbclient==0.10.0
pycollada==0.8
pyribbit==0.1.46
charset-normalizer==2.0.4
cyipopt==1.4.1
zonopy-robots==0.0.1
smmap==5.0.1
ipykernel==6.29.5
lxml==5.2.2
rpds-py==0.18.1
moviepy==1.0.3
sentry-sdk==2.10.0
prompt_toolkit==3.0.47
python-dateutil==2.9.0.post0
retrying==1.3.4
contourpy==1.2.1
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
addict==2.4.0
nest-asyncio==1.6.0
zonopy==0.1.0
pyparsing==3.1.2
mkl-random==1.2.4
debugpy==1.8.2
dash-html-components==2.0.0
typing_extensions==4.11.0
types-python-dateutil==2.9.0.20240316
tomli==2.0.1
fastjsonschema==2.20.0
jupyterlab_server==2.27.3
cycler==0.12.1
proglog==0.1.10
stack-data==0.6.3
urchin==0.0.27
rfc3986-validator==0.1.1
terminado==0.18.1
pexpect==4.9.0
pyquaternion==0.9.9
json5==0.9.25
tinycss2==1.3.0
nbconvert==7.16.4
requests==2.32.2
pycparser==2.22
executing==2.0.1
async-lru==2.0.4
joblib==1.4.2
protobuf==4.25.3
jupyter-lsp==2.2.5
